<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="1" parallel="tests" thread-count="1">
<!-- 
 <class name="tests.AddTestTest"/>
<listeners>

    <listener class-name="listeners.TestSummaryImageListener"/>


    <listener class-name="listeners.ScreenShotListener"/>
    <listener class-name="listeners.ExtentTestNGListener"/>
   
    <listener class-name="listeners.TestSummaryImageListener1"/>  
</listeners>
-->

<test name="Regression Login">
<classes>
<class name="tests.LoginTest"/>
<class name="tests.DashboardRegressionTest"/>
 <class name="tests.CalendarTest"/>
  <class name="tests.SelectGrade8CourseTest"/>
   

 


</classes>
</test>
</suite>